@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/*image and content display css style*/
.main-content {
    display: flex;
    margin-top: 75px;
}

.shapes-image {
    width: 32%;
    height: 10%;
    margin-left: 24%;
}

.alert {
    width: 22%;
    margin-left: 35px;
    background-color: hsl(240, 100%, 5%) !important;
}

p {
    color: white;
}

h4 {
    color: hsl(35, 77%, 62%) !important;
}
/*h1 and p tag and also button css style here*/

/*.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 200px;
}
*/
h1 {
    position: absolute;
    margin-left: 24%;
    top: 51%;
    width: 15%;
    font-family: "Archivo Black", sans-serif;
}

.text {
    position: absolute;
    top: 51%;
    margin-left: 41%;
    width: 15%;
    color: black;
}

.btn {
    position: absolute;
    top: calc(65% + 1em);
    left: 41%;
}